.colorize {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}
.colorize-block {
    display: inline-block;
    width: 200px;
    align-self: flex-start;
    position: absolute;
}
.select {
    background-image: url(ok.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
}
